@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url('https://fonts.cdnfonts.com/css/montserrat');

.outline-button{
 padding:7px 14px;
 border:1px solid #41AFFF;
 font-weight: bold;
 font-size: 14px;
 border-radius:6px;
 color:#41AEFD;
}
.primary-btn{
  padding:7px 14px;
  background-color: #41AFFF;
  color: white;
  font-size: 14px;
 border-radius:6px;
 font-weight:bold;
}
:root{
  --slider-width: 770.16px;
  --slider-height: 399.38px;
}
*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000F20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.navbar{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo span {
  position: absolute;
  font-size: 40%;
  top:72%;
  left: 40%;
}
.logo img{
height: 100%;
width : auto;
}

.nav-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 20%;
  height: 100%;
  margin-right: 2%;
  
}

.nav-buttons div{
  width: 40%;
  /* margin: 10%; */
  /* padding-right: 10%; */
  height: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
a{
  text-decoration: none;
  color: black;
  font-size: 95%;
}

.nav .links .dropdown{
  position: relative; text-align: center; justify-content: center;
  display: flex; align-items: center;
}
/* .nav .links .dropdown .dropdown-menue{
  position: absolute;
  left: 0;
  opacity: 0; text-align: center;
 visibility: hidden; z-index: -99999;
 top: 500px;
} */
ul li{
  list-style-type: none;
}

.dropdown:hover .dropdown-menu {
  /* opacity: 1;
  visibility: visible; */
  /* top: 100%; */
  /* width: 100%; */
  /* -webkit-transition: all  .5s linear;
  transition: all  .5s linear; */
  /* width: 200px; */
}
.dropdown-menu li{
display: block;
height: auto;
margin-top: 2px;
margin-bottom: 3px;
}
.dropdown-menu li a{
  padding: 20px 5px;
  margin-top: 100px;
}
.dropdown:hover .icon{
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.dropdown-menu{
  display: none;
  transition: all 0.5s ease-in-out;
transition-delay: 1sec;
}
.dropdown:hover .dropdown-menu{
display: block;

}
.strategy{
  background-color: white;
  /* height: 70vh; */
  /* border: 2px solid red; */
  width: 100vw;
}
.strategy .section2{
  background-image: linear-gradient(#41AFFF, #41AFFF);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;  
}
.strategy .section1{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
  height: 80vh;
  /* border: 2px solid red; */
}
.section1 .lefty{
position: relative;
/* border: 2px solid red; */
height: 87.5%;
}
.lefty .bigd{
  /* border: 2px solid red; */
  height: 50%;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
  position: relative;
  /* box-sizing: content-box; */
  /* font-size: 150%; */
}
.lefty .bigd h1{
  font-size: 350%;
  color: #000F20;
}
.lefty .smalld{
  /* border: 2px solid red; */
  width: 45%;
  /* position: absolute; */
  color: #000F20;
  font-weight: 700;
  margin-left: 20%;
  margin-top: 1%;
}
.lefty .buttond{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  /* border: 2px solid red; */
  /* position: absolute; */
  margin-left: 20%;
  margin-top: 3%;
  height: 9%;
}
.buttond div{
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  align-items: center;
  /* text-align: center; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttond .bt-sign{
  color: white;
  font-weight: 700;
  background-color: #41AFFF;
  border-radius: 16px;
}
.buttond .bt-learn{
  background-color: white;
  color: black;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 16px;
}
.righty{
  /* border: 2px solid red; */
  height: 100%;
  position: relative;
}
.righty .strategy-img{
  /* margin-top: 20%; */
  position: absolute;
  /* border: 2px red solid; */
  height: 100%;
  width: 100%;
  right : 15%;
  top:15%;
}
.righty .strategy-img img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.colouring-div1,.colouring-div2,.colouring-div3,.colouring-div4{

  z-index: -9999;
  background: radial-gradient(50% 50% at 50% 50%, rgba(115, 151, 214, 0.156) 0%, rgba(4, 13, 33, 0) 100%);
}
.colouring-div1{
  height: 328.3465576171875px;
width: 310.6176452636719px;
margin-left: 284.327392578125px;
/* margin-top: 30.689208984375px; */
/* position: absolute; */
border-radius: 0px;

}
.colouring-div2{
  height: 352.8248596191406px;
width: 334.1886901855469px;
margin-left: -139.951171875px;
/* margin-top: 10.914306640625px; */
/* position: absolute; */
border-radius: 0px;

}
.colouring-div3{
  height: 267.15081787109375px;
width: 251.69000244140625px;
margin-left: 686.999755859375px;
margin-top: -100.04296875px;
/* position: absolute; */
border-radius: 0px;

}
.colouring-div4{
  height: 267.15081787109375px;
width: 251.69000244140625px;
margin-left: 1112.26123046875px;
margin-top: -400.51123046875px;
/* position: absolute; */
border-radius: 0px;

}
.reviews .reviews-content{
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  /* z-index: 0; */
}
.reviews .reviews-content .reviews-content-text{
  /* border: 2px red solid; */
  height: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.reviews .reviews-content .reviews-content-carousel{
  /* border: 2px solid red; */
  height: 75%;
  width: 80%;
  /* margin-top: 5%; */
}

.reviews-content-carousel{
  margin: 0 auto;
  /* border: 2px solid red; */
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.reviews .splide{
  /* border: 2px solid red; */
  position: relative;
  width: 100%;
  height: 100%;
}
.reviews .splide__track{
  /* border: 2px solid red; */
  height: 100%;
  /* display: block; */
}
.card{
box-shadow: 0px 0px 3px grey,0px 0px 6px grey ;
}

/* Strategy Slider Css */
.behind{
  background: linear-gradient(163.77deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.06) 100%);
  -webkit-backdrop-filter: blur(12.5px);
  margin: 6% auto;
  border: 2px solid white
  /* margin-top: 3rem; */
}
.behind p,.behind h1{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';;
  letter-spacing: 0px;
  max-width: 35vw;
  font-size: 120%;
  font-weight: 600;
  color: white;
  /* margin: 1%; */
  margin-top: 1.5%;
}


.behind .one{
  font-weight: 600;
  /* font-size: 22px; */
  line-height: 148.9%;
  /* margin-top: 1.5rem;;
  margin-bottom: 0.8rem; */
  text-align: center;
}
.behind .three{
  font-style: normal;
  font-weight: 500;
/* border: 2px solid red; */
  color: #072341;
  text-align: center;
  font-size: 18px;
}
.behind .splide{
  position: absolute;
  top: 65%;
  width: var(--slider-width);
  height: var(--slider-height);
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  border-radius: 16px;
  
}
.behind .splide__track{
  width:var(--slider-width);
  height: var(--slider-height);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background:#072341;
  border-radius: 16px;

}
.behind .slide1{
  background-image: url(backtestpage3.svg);
  background-size: var(--slider-width) var(--slider-height);
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #FFCF47; */
  /* background-blend-mode: multiply; */
  background-color: #072341;
  /* background-size: cover; */



}
.behind .slide2{
  background-image: url(backtestpage2.svg);
  background-size: var(--slider-width) var(--slider-height);
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #FFCF47; */
  background-color:#072341;
}
.behind .slide3{
  background-color: black;
  background-image: url(backtestpage1.svg);
  background-size: var(--slider-width) var(--slider-height);
  background-repeat: no-repeat;
  background-position: center;
}


.behind .splide__arrow--next{
  background-color: transparent;
  right: -5rem;
  height: 3rem;
  width: 3rem;
  transform: translateY(3rem);
border-radius: 7px;
transform: rotate(-90deg);

}
.behind .splide__arrow--prev{
  background-color: transparent;
  left: -5rem;
  height: 3rem;
  width: 3rem;
  transform: translateY(3rem);
  transform: rotate(90deg);
}
.card-font{
  font-family: 'Montserrat', sans-serif; 
}

.marketplace{
  border: 2px solid red;
  /* height: 450vh; */
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  /* position: relative; */
}
.marketplace-content{
  /* border: 2px solid red; */
  width: 94%;
  height: 92%;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
  position: relative;
}
.marketplace-content-left{
  position: sticky;
  top: 110px;
  border: 0.5px solid transparent ;
  width: 29%;
  /* height: 40%; */
  /* box-shadow: 0px 4px 4px grey;
  border-radius: 8px; */
  box-shadow: 0px 3.720496892929077px 15.812111854553223px -0.9301242232322693px rgba(0, 0, 0, 0.20);
backdrop-filter: blur(11.161490440368652px);
border-radius: 8px;
margin-bottom: 10%;
max-height: 80vh;
}
.marketplace-search{
  border: 1.5px solid grey;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 8%;
  height: 8%;
  /* border-radius-lef: 50%; */
  /* border-top-left-radius: 16px ; */
  border-radius: 2em;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
.marketplace-sorting{
  border: 1.5px solid grey;
  width: 55%;
  height: 3rem;
  margin-left: 8%;
  border-radius: 8px;
  margin-top: 8%;
}
.marketplace-sorting:hover{
  cursor: pointer;
}
.marketplace-sorting-list.active, .marketplace-sorting-list.notactive{
  border: 0.1px solid rgb(157, 157, 157);
  width: 55%;
  margin-left: 8%;
  /* margin-top: 1%; */
  border-radius: 4px;
  font-size: 0.85rem;
  box-shadow: 0px 0px 3px rgba(96, 93, 93, 0);
}
.marketplace-content-cc{
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 9%;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-top: 1%;
}
.marketplace-content-cc input{
  margin-top: 5%;
}
input[type=radio] {

   -webkit-transform: scale(1.3);
  border: 1px solid grey;
  padding: 0.5em;
  -webkit-appearance: none;
  border-radius: 4px;
}
input[type=radio]:hover,label:hover {
cursor: pointer;
}
.marketplace-content-cc label{
  font-style: 'Montserrat';
  font-size: 110%;
  margin-left : 5%
}
input[type=radio]:checked{
  background-color: rgb(52, 52, 254);
  border-radius: 4px;
  /* border: 2px solid blue; */
  /* padding: 1px; */
}

.marketplace-sorting-list.active,.marketplace-sorting-list.active.marketplace-sorting-list-content{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.5s ease;
}
.marketplace-sorting-list.notactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2px);

transition: all 0.9s ease;}
.marketplace-sorting-list{
  position: absolute;
  background-color: #FFFFFF;
  z-index: 4;
}
/* .marketplace-sorting-list-content{
  position: absolute;
  height: 240px;
} */
.marketplace-sorting-list-content{
  line-height: 1.6rem;
  font-size: 120%;
  cursor: pointer;
  /* font-weight: 100;
  color: #373838b0; */
}
  .marketplace-sorting-list-content span{
    margin-left: 5%;
  }
.marketplace-sorting-list-content:hover{
  background-color: #41b0ffb8;
  /* opacity: 20%; */
}
.marketc{
  /* border: 2px solid red; */
}
.marketplace-content-left{
  /* border: 2px solid red; */
}
.marketplace-content-right{
  /* border: 2px solid red; */
  margin-left: 5%;
  width: 80%;
  height : 100%;
}
.marketplace-content{
display: flex;
}
.marketc{
  /* border: 2px solid red; */
  border-radius: 12px;
  width: 100%;
  height: 6.5%;
  box-shadow: 0px 5.01033353805542px 21.293912887573242px -1.252583384513855px rgba(0, 0, 0, 0.20);
backdrop-filter: blur(15.030999183654785px);
border: 1.5px solid transparent;
}

.marketc .marketc-upper{
  /* border: 2px solid red; */
  width: 90%;
  height: 10%;
  margin-left: 5%;
  margin-top: 1%;
  /* top: 5%; */
  display: flex;
  /* margin-bottom: 2%; */
}
.marketc-upper .div1, .marketc-upper .div2, .marketplace .div3{
  /* height: 100%; */
  /* border: 2px  solid red; */
} 
.marketc-upper .div1{
  width: 24%;
  height: 5%;
  /* border: 2px solid red; */
}
.marketc-upper .div1 .span1{
  font-size: 1.9rem;
  font-weight: 700;
}
.marketc-upper .div1 p{
  font-size: 0.9rem;
  color: #0472D8;
}
.marketc-upper .div2{
  width: 5%;
  height: 100%;
  margin-left : 55%;
  border: 2.5px solid #414443;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marketc-upper .div3{
  margin-left: 4.5%;
  width: 5%;
  height: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  /* justify-content: flex-end; */
  flex-direction: column;
  justify-content: flex-start;
}
.marketc-down{
  /* border: 2px solid red; */
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  height: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.marketc-down-right{
  height: 65%;
  width: 23%;
  border: 2px solid #41AFFF;
  background-color: #41AFFF;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.01438rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5%;
}
.marketc-down-left{
  flex: 1;
  /* border: 2px solid red; */
  height: 70%;
  display: flex;
  color: #000F20;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  text-align: center;
  font-weight :500;
}
.marketc-upper .div3, .marketc-upper .div2:hover{
cursor: pointer;
}
/* .marketc{
  margin-top: 5%;
} */
.marketplace-content-right .marketc{
  margin-top: 5%;
}
.marketplace-content-right .marketc:first-of-type{
  margin-top: 0%; 
}
.marketplace-content-right .pagination{
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
.marketc:hover{
  cursor: pointer;
}

