.normal{
    
    color: #81CAFE;
}

.fill{
   background-color: #81cafe;
    color: #072341;
}

.button{
    outline: none;
    background-color: #072341;
    padding: 8px 24px;
    font-size: 1.6rem;
    border: none;
    font-family: 'Montserrat';
    border-radius: 4px;
    letter-spacing: 0.01em;
}



.button:focus,.button:active{
    outline: none;
}
