html{
  font-size: 10px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body{ */
/*   background-color: #000f20; */
/*   overflow: hidden; */
/* } */

body::-webkit-scrollbar{
  display: none;
}
