.sidenav{
    width: 20%;
    background-color: #031425;
    padding: 3rem;
    position: relative;
    height: 80vh;
    overflow: scroll;
}
.sidenav::-webkit-scrollbar{
    display: none;
}

.line{
    border: 1px solid #072341;
    width: 100%;
    margin-bottom:1.9rem;
}

.buttonsAction{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

}

.buttons{
    display: flex;
    flex-direction: column;

}