.time--label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
}

.time{
    display: flex;
    flex-direction: column;
    
}


.container{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input[type="date"]{
    background-color: #072341;
    font-family: 'Montserrat',monospace;
    color: #ffffff;
    font-size: 16px;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;

}
